<h2>halo</h2>

#sign up primary
<a href="#" class="btn btn-primary">Sign Up</a>
#sign up secondary
<a href="#" class="btn btn-secondary">Sign Up</a>

#plus button
<br>
<a href="#" class="btn-circle"><i class="fas fa-plus plus"></i></a>

#search bar
<div>
  <div class="search-bar"></div>

  <a href="#" class="search-icon-button"><i class="fas fa-search"></i></a>
</div>

#combo-box
<div>
  <div class="input-text">
  <a href="#" class="arrow-down"></a><i class="fas fa-caret-down"></i></a>
  </div>
</div>
<select name="" class="input-text">
<option value="">A</option>
<option value="">B</option>
</select>

  <%# select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
  } %>



<h2>hello</h2>
