// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-title {
  text-align: center;
  color: #03989E;
  font-size: 22x;
}
