.create-button {
  margin-top: -20px;
}

.mapboxgl-ctrl {
  margin: 0px !important;
}

.mapboxgl-ctrl-geocoder {
  top: 75px;
  max-width: none;
  width: 100%;
  border: 1px solid #03989E;
  box-shadow: none;
  margin-left:5px;
  z-index: 2;
}

.mapboxgl-popup-content {
  border-radius: 15px !important;
}

.mapboxgl-ctrl-top-right{
  width: 100%;
}


.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right {
  z-index: 0 !important;
}
