<div>
  <% if report_user.photo.attached? %>
  <%= cl_image_tag report_user.photo.key, class: "avatar-bordered" %>
  <% end %>
  <h2><%= report.category.capitalize %></h2>
   <p>Reported <%= pluralize(reported_time, measurement) %> ago.</p>
  <%= link_to 'Details', report_path(report.id), class: "btn btn-secondary" %>
</div>
