<nav class="navbar2">
  <div class="logo">
    <a class="brand" href="<%= root_path %>"><%= image_tag("SafePrintsFullLogo.png") %></a>
  </div>
  <div class="hamburger">
    <%= link_to new_user_session_path do %>
      <i class="fas fa-bars"></i>
    <% end %>
  </div>
</nav>
