<nav class="navbar">
  <div class="logo">
    <a class="brand" href="<%= root_path %>"><%= image_tag("SafePrintsFullLogo.png") %></a>
  </div>
  <div class="hamburger">
    <%= link_to "#" do %>
      <i class="fas fa-bars"></i>
    <% end %>
  </div>
</nav>
