@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Poppins:ital,wght@1,300&display=swap');
.search-bar {
  background-color: #FFFFFF;
  border: 2px solid #03989E;
  border-radius: 50px;
}


// first class of the bar that needs drop down

.form-bar {
  background-color: #FFFFFF;
  border: 1px solid #03989E !important;
  border-radius: 50px !important;
}

// first class of .text-area-comment
// first class of .text-area-description
.text-area-comment {
  background-color: RGBA(218, 223, 247, 0.2);
  border: 1px solid #03989E;
  border-radius: 25px;
  margin-top: -13px;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

// second class of .text-area-comment
.comment {
  width: 380px;
  height: 135px;
}

// second class of .text-area-description
.description {
  width: 380px;
  height: 230px;
  border-radius: 0 0 25px 25px;
  background-color: RGBA(218, 223, 247, 0.2);
  padding: 15px;
}

// to input comment
.comment-section {
  background-color: #FFFFFF;
  border: 1px solid #03989E;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding-left: 20px;
}

// the little arrown on the comment section
.send-btn {
  background-color: transparent;
  color: #03989E;
  border: none;
  font-size: 30px;
  position: absolute;
  right: 5px;
  bottom: 3px;
}

#comment-form {
  position: relative;
}

// second class of the .form bar
.combo-box {
  height: 50px;
  width: 380px;
}

.frame {
  padding: 0px;
}

// image containers
.inc-image {
border: 1px solid #03989E;
width: 48%;
height: 108px;
border-radius: 25px;
}

.incident-images {
  display: flex;
  justify-content: space-between;
  margin-top: -13px;
  margin-bottom: 6px;
}

// hr tag
#hr {
  height: 1px;
  width: 100%;
  background-color: #03989E;
  margin-top: 5px;
  margin-bottom: -4px;
}

.caution-marker {
  position: relative;
  right: 20px;
  top: 11px;
  align-self: center;
}

.caution {
  font-size: 50px;
  width: 35px;
  padding-bottom: 25px;
}

.description-box {
  height: 50px;
}

.incident-comment {
  background-color: RGBA(218, 223, 247, 0.2);
  border-radius: 25px;
  padding: 15px;
  margin: 15px 0 15px 0;
  position: relative;
}

.incident-images-container h1 {
  margin: 15px;
}

.view-link {
  color: #FF9900;
  position: absolute;
  right: 23px;
  bottom: 11px;
  text-decoration: none;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;

}

.feedback {
  width: 200px;
  height: 100px;

}

.thumbs-up {
  width: 100px;
  height: 50px;

}

.feedback-and-like {
  display: flex;
  background-color: RGBA(218, 223, 247, 0.2);
  border: #03989E;

}

.feedback-avatar {
  align-self: flex-start;

}


.incident-body {
  background-color: RGBA(218, 223, 247, 0.2);
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 80px;
  h2 {
    color: #03989E;
  }
}

.feedback-and-like {
  background-color: RGBA(218, 223, 247, 0.2);
  border-radius: 15px;
  padding: 9px;
  margin-bottom: 20px;
  h2{
    color: #03989E;
    font-size: 20px;
  }
}

.like-button {
  width: 100%;
  display: flex;
  justify-content: end;
}

.feedback-card-body {
 width: 100%;
}
