.search-bar {
  border: 2px solid #03989E;
  border-radius: 50px;
  width: 400px;
  height: 50px;
  position: absolute;
}
.search-icon-button {
  color: #03989E;
  position: relative;
  left: 365px;
  top: 9px;
  font-size: 24px;
}
.input-text {
  border: 2px solid #03989E;
  border-radius: 50px;
  width: 380px;
  height: 50px;
  // position: absolute;
}
.arrow-down {
  color: #03989E;
  position: relative;
  // right: 365px;
  // top: 10px;
  // font-size: 45px;
}
