mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-color: #03989E;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
