body {
  margin: 0px;
}

.navbar2 {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  background-color: rgba(218, 223, 247, 0.5%);
  align-items: center;
  padding: 5px 18px;
  position: fixed;
  top: 1px;
  z-index: 1;
  min-width: -webkit-fill-available;
  width: 100vw;
}

.logo {
  img {
    width: 157px;
    height: 39px;
  }
}

.fa-bars:before {
  content: "\f0c9";
  color: #03989E;
  font-size: x-large;
}

.navbar-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //background-color: #03989E;
  background-color: #03989E;
  margin: 0px;
  position: fixed;
  bottom: 50px;
  z-index: 1;
  width: 100vw;
  padding: 5px;
}

.navbar-down-button {
  width: 40px;
  justify-content: space-between;
}
